<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flask Todo App</title>
</head>
<style>
  #error {
    color: red;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 300px;
  }
  li {
    clear: both;
  }
  li button {
    -webkit-appearance: none;
    border: none;
    outline: none;
    color: red;
    float: right;
    cursor: pointer;
    font-size: 20px;
  }
  .lists-wrapper, .todos-wrapper {
    display: inline-block;
    vertical-align: top;
  }
  .hidden {
    display: none;
  }
</style>
<body>
  <div class='lists-wrapper'>
    <ul id='todo-lists'></div>
      {% for list in lists %}
      <li>
        <a href='/lists/{{ list.id }}'>{{ list.list_name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class='todos-wrapper'>
    <h4>{{ active_list.list_name }}</h4>
    <form id='form'>
      <label>Add ToDo</label>
      <input id='description-input' type='text' name='description'>
      <input type='submit' value='create'>
    </form>
    <ul id='todos'>
      {% for todo in todos %}
      <li>
        <input class='check-completed' data-id='{{ todo.id }}' type='checkbox' {% if todo.completed %} checked {% endif %}/>
        {{ todo.description }}
        <button class='delete-btn' data-id='{{ todo.id }}'>&cross;</button>
      </li>
      {% endfor %}
    </ul>
    <div id='error' class='hidden'>Something went wrong!</div>
    </div>
</body>

<script>
  const checkboxes = document.querySelectorAll('.check-completed');

  for (let i = 0; i < checkboxes.length; i++) {
    const checkbox = checkboxes[i];
    checkbox.onchange = function(e) {
      const newCompleted = e.target.checked;
      const todoId = e.target.dataset['id'];
      fetch('/todos/' + todoId + '/set-completed', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          "completed": newCompleted
        })
      })
      .then(function() {
        document.getElementById('error').className = 'hidden';
      })
      .catch(function() {
        document.getElementById('error').className = '';
      })
    }
  }

  const buttons = document.querySelectorAll('.delete-btn');

  for (let i = 0; i < buttons.length; i++) {
    const button = buttons[i];
    button.onclick = function(e) {
      const todoId = e.target.dataset['id']
      fetch('/delete/' + todoId, {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json'
        }
      })
      .then(function() {
        document.getElementById('error').className = 'hidden';
      })
      .catch(function() {
        document.getElementById('error').className = '';
      })
    } 
  }

  document.getElementById('form').onsubmit = function(e) {
    e.preventDefault();
    fetch('/todos/create', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        'description': document.getElementById('description-input').value
      })
    })
      .then(function(res) {
        return res.json()
      })
      .then(function(data) {
        const liItem = document.createElement('LI');
        liItem.innerHTML = data['description'];
        document.getElementById('todos').appendChild(liItem);
        document.getElementById('error').className = 'hidden';
      })
      .catch(function() {
        document.getElementById('error').className = '';
      })
  }
</script>
</html>